.b2b-page {
	& > .cont {
		padding-top: 30px;
	}
	.currency {
		white-space: nowrap;
    	display: flex;
	}
	.found {
		white-space: nowrap;
	}
	.aside {
		margin-top: 0;
	}
	.top-part {
		display: flex;
		justify-content: space-between;
		align-items: center;
    	margin-bottom: 23px;
	}
	.back-link {
		color: #333333;
		text-decoration: underline;
		font-size: 12px;
		&:hover {
			text-decoration: none;
		}
	}
	.one-prod {
		display: flex;
    	justify-content: space-between;
    	align-items: center;
    	padding-top: 18px;
    	padding-bottom: 18px;
    	padding-left: 8px;
    	border-bottom: 1px solid #F2F2F2;
    	.prod-name {
    		font-size: 18px;
    		color: #333;
    		text-decoration: none;
    		font-weight: 500;
    		display: block;
    		margin-bottom: 7px;
    	}
    	.img-cont {
    		width: 60px;
    		height: 60px;
    		margin-right: 48px;
    		img {
				display: block;
				max-width: 100%;

    		}
    	}
    	.left-part {
			display: flex;
			align-items: center;
		}
		.right-part {
			display: flex;
			align-items: center;
			.btn {
				font-size: 14px;
				width: 100px;
				&:hover {
					span {
						display: none;
					}
					.hover {
						display: inline;
					}
				}
			}
			.hover {
				display: none;
			}
		}
		.prod-name-wrap {
			display: flex;
		}
		.ctrl-wrap {
			display: flex;
		}
		.prod-info-wrap {
			width: 290px;
		}
		.add-to-confirm-icon {
			content: "";
			width: 18px;
			height: 18px;
			background-image: url(../img/icons/com.svg);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			display: block;
			filter: grayscale(100%);
		}
		.add-to-confirm {
			width: 38px;
		    height: 38px;
		    background: #FAFAFA;
		    border-radius: 3px;
		    margin-right: 20px;
		    display: flex;
		    align-items: center;
		   	justify-content: center;
		   	padding: 0;
		    &:hover {
		    	border: 1px solid #F8A337;
		    }
		}
		.add-to-wish {
			width: 38px;
		    height: 38px;
		    background: #FAFAFA;
		    border-radius: 3px;
		    font-size: 19px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    color: #707070;
		    margin-right: 25px;
		    &.added {
		    	.icon-star {
		    		color: #FA9E30;
		    	}
		    }
		    &:hover {
		    	border: 1px solid #F8A337;
		    }
		}
		.price {
			font-size: 22px;
			margin-bottom: 5px;
		}
		.price-wrap {
			text-align: right;
			margin-right: 40px;
		}
		.price-small {
			white-space: nowrap;
			font-size: 12px;
			color: #757576;
		}
	}
	.prod-cont {
		margin-bottom: 38px;
	}
	.content-part {
		padding-top: 14px;
	}
	.one-product {
		.btn.added {
			.hover {
				display: none;
			}
			&:hover {
				span {
					display: none;
				}
				.hover {
					display: inline;
				}
			}
		}
		.small-price {
			display: flex;
			justify-content: flex-end;
			font-size: 12px;
			color: #757576;
		}
		.price-wrap {
			text-align: right;
		}
		b {
			font-weight: 700;
			margin-left: 5px;
		}
		.add-to-wish {
			color: #F89B3F;
		}
	}
	.title-ctrl {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 23px;
		.roll-up {
			color: #333333;
			cursor: pointer;
			&:after {
				content: "\e818";
				font-family: "fontello";
				margin-left: 3px;
			}
			&.open {
				&:after {
					content: "\e819";
				}
			}
		}
	}
	.project-wrap {
		&.show-all {
			tr {
				display: table-row !important;
			}
			.load-more {
				display: none;
			}
		}
		.table-total {
			text-align: right;
			font-size: 15px;
			margin-bottom: 26px;
			margin-top: 15px;
			& > div {
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.bold {
				font-weight: 700;
			}
		}
		.table {
			margin-bottom: 0;
			.prod {
				color: #333333;
			}
		}
		.remove {
			color: #333333;
		}
		.project-bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.btn {
				font-size: 14px;
				margin-right: 6px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		.add-pos {
			color: #333333;
			position: relative;
			padding-left: 24px;
			font-size: 12px;
			&:before {
				content: "\e820";
				font-family: "fontello";
				display: inline;
				position: absolute;
				left: 0;
				font-size: 20px;
				color: #FB9C2F;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.load-more {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 60px;
		background: #F7F7F7;
		color: #333333;
		text-decoration: none;
		font-size: 13px;
		cursor: pointer;
	}
	.add-position {
		.title {
			background: #363636;
		    color: #FFFFFF;
		    display: flex;
		    align-items: center;
		    height: 50px;
		    font-size: 19px;
		    padding: 0 19px 0 19px;
		    font-weight: 700;
		}
		.search {
			display: flex;
			background: #FCFCFC;
			padding-top: 13px;
			padding-bottom: 13px;
    		padding-left: 15px;
    		padding-right: 15px;
    		.btn {
    			width: 100px;
    			margin-left: 10px;
    			font-size: 14px;
    		}
    		input[type="text"] {
				background: #F0EFF0;
				border: none;
				flex-grow: 1;
				padding-left: 18px;
			}
		}
	}
	.add-pos-table {
		width: 100%;
		border-top: 1px solid #F5F5F5;
		background: #FCFCFC;
		font-size: 13px;
		tr {
			&.active {
				background: #F0EFF0;
				.icon-plus-circled {
					color: #F9A234;
				}
			}
			&.added {
				background: #F0EFF0;
				.icon-plus-circled {
					color: #363636;
				}
			}
			th {
				padding: 20px 10px;
				&:first-child {
					padding-left: 20px;
				}
				&:last-child {
					padding: 0;
				}
			}
			td {
				padding: 9px 10px;
				&:first-child {
					padding-left: 20px;
				}
				&:last-child {
					padding: 0;
				}
			}
			&:first-child {
				color: #717172;
				border-bottom: 1px solid #F5F5F5;
			}
		}
		.prod-name {
			position: relative;
			display: inline-block;
			&:hover {
				& > a {
					color: #F9AB56;
				}
				.info-cont {
					display: flex;
				}
			}
			.demo-icon {
				color: #DCDCDC;
				font-size: 20px;
				margin-right: 10px;
			}
			a {
				color: #333333;
			}
		}
		.remove {
			font-size: 12px;
			color: #8C8C8C;
		}
		.info-cont {
			display: none;
			position: absolute;
			z-index: 2;
			top: -31px;
			left: 100%;
			background: #FFFFFF;
			width: 500px;
			border-radius: 6px;
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
			padding: 33px 25px 25px 25px;
			&:before {
				content: "";
				position: absolute;
				left: -23px;
    			border: 12px solid transparent;
    			border-right: 12px solid #FFFFFF;
			}
			.img-cont {
				display: block;
				width: 110px;
				min-width: 110px;
				height: 110px;
				margin-right: 28px;
				img {
					display: block;
					max-width: 100%;
				}
			}
			.vendor-code {
				margin-bottom: 22px;
			}
			.info-wrap {
				flex-grow: 1;
			}
			.prod-link {
				text-decoration: none;
	    		font-size: 18px;
	    		margin-bottom: 13px;
	    		display: inline-block;
			}
			.info-description {
				line-height: 21px;
			}
			.bottom {
				border-top: 1px solid #FCFCFB;
				display: flex;
				justify-content: space-between;
				padding-top: 20px;
				margin-top: 40px;
				.btn {
					font-size: 14px;
    				min-width: 115px;
				}
			}
			.price {
				font-size: 20px;
   			 	font-weight: 700;
   			 	margin-bottom: 4px;
			}
			.bot-price {
				text-align: right;
			}
			.small-price {
				font-size: 11px;
			}
		}
	}
	.bot-btn-wrap {
		padding: 13px 20px 35px 25px;
		background: #FCFCFC;
		.btn {
			font-size: 14px;
			margin-right: 4px;
			&:last-child {
				margin-right: 0;
			}
		}
		.btn-light {
			background: #FFFFFF;
		}
	}
}