.basket-table {
  width: 100%;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid #F5F5F5;
    &:last-child {
      border-bottom: none;
    }
  }
  th {
    color: #707070;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 20px;
    &:first-child {
      padding-left: 30px;
    }
    &:last-child {
      padding-right: 30px;
    }
  }
  td {
    vertical-align: middle;
    &:first-child {
      padding: 20px;
    }
  }
  .prod-img {
    width: 115px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      width: auto;
      height: auto;
    }
  }
  .prod-name {
    text-decoration: none;
    font-size: 18px;
    color: #333333;
    font-family: 'Proxima Nova Semibold';
    margin-bottom: 10px;
    display: inline-block;
  }
  .vendor-code {
    font-size: 14px;
    color: #707070;
  }
  .price {
    font-size: 18px;
    color: #333333;
    font-family: 'Proxima Nova Semibold';
  }
  .count {
    font-size: 14px;
    color: #707070;
  }
  .total-price {
    font-size: 22px;
    font-family: 'Proxima Nova Semibold';
  }
  .bot-table {
    display: flex;
    justify-content: flex-end;
    .label {
      font-size: 14px;
      color: #707070;
      margin-bottom: 5px;
    }
    .total-order {
      text-align: right;
      margin-right: 25px;
    }
    .btn-std {
      height: 50px;
      font-size: 14px;
      display: flex;
      align-items: center;
    }
  }
  .remove {
    font-size: 16px;
    color: #E81D19;
  }
}
.basket-page {
  & > .cont {
    padding-top: 25px;
    padding-bottom: 100px;
  }
  .breadcrumb {
    margin-bottom: 16px;
  }
  .basket-table {
    tr {
      &:last-child {
        td {
          padding-right: 0;
        }
      }
    }
  }
}