.catalog-page {
  & > .cont {
    display: flex;
    flex-wrap: wrap;
    padding-top: 17px;
    padding-bottom: 50px;
  }
  .aside {
    width: 290px;
  }
  .content-part {
    width: calc( 100% - 290px );
    padding-left: 15px;
  }
  .filter-cat-list {
    list-style: none;
    margin-bottom: 40px;
    & > li {
      border-bottom: 1px solid #F5F3F0;
      &.open {
        .category-list {
          display: block;
        }
      }
      &:last-child {
        border-bottom: none;
      }
      & > a {
        font-size: 16px;
        color: #333333;
        font-family: 'Proxima Nova Bold';
        text-decoration: none;
        display: flex;
        align-items: center;
        height: 50px;
      }
      .ico {
        margin-right: 10px;
      }
    }
    li {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
  .category-list {
    display: none;
    padding-bottom: 15px;
    & > li {
      & > a {
        height: 34px;
        display: flex;
        align-items: center;
        color: #257BA8;
        font-size: 14px;
        padding-left: 30px;
        transition: all 0.1s ease-out;
        &:hover {
          background: #FAFAFA;
          color: #EF8600;
        }
      }
    }
  }
  .cat-list-cont {
    display: none;
    li {

    }
    a {
      color: #333333;
      padding-left: 50px;
      height: 34px;
      display: flex;
      align-items: center;
    }
  }
  .filter-title {
    font-size: 18px;
    color: #333333;
    font-family: 'Proxima Nova Bold';
    margin-bottom: 18px;
  }
  .js-foldable-filter {
    &.list-hidden {
      .filter-title {
        span {
          &:after {
            content: "\e818";
          }
        }
      }
    }
    .filter-title {
      span {
        position: relative;
        padding-right: 25px;
        cursor: pointer;
        &:after {
          content: "\e819";
          position: absolute;
          width: 22px;
          height: 22px;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background: #FAFAFA;
          display: inline-flex;
          border-radius: 11px;
          font-family: "fontello";
          align-items: center;
          justify-content: center;
          color: #707070;
        }
      }
    }
  }
  .filter-prices {
    display: flex;
    margin-top: 23px;
    margin-bottom: 47px;
    .group {
      display: flex;
      align-items: center;
      margin-right: 29px;
      &:last-child {
        margin-right: 0;
      }
    }
    .label {
      font-size: 14px;
      color: #707070;
      margin-right: 10px;
    }
    input[type="text"] {
      height: 40px;
      width: 75px;
      display: block;
      border: none;
      background: #FAFAFA;
      padding: 4px 15px;
      text-align: right;
      color: #707070;
      font-size: 14px;
      border-radius: 4px;
    }
  }
  .min-max {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #707070;
    margin-top: 16px;
  }
  .filter-list {
    .jq-checkbox {
      margin-right: 13px;
    }
    li {
      padding-left: 0;
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        display: none;
      }
    }
    label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
  .filter-block {
    margin-bottom: 32px;
  }
  .price-filter-block {
    width: 233px;
  }
  .reset-filters {
    white-space: nowrap;
    font-size: 12px;
    color: #333333;
  }
  .aside {
    padding-bottom: 50px;
    margin-top: -63px;
  }
  .filter-wrap {
    .btn-light {
      width: 235px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: #333333;
      margin-bottom: 20px;
    }
  }
  .breadcrumb-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
    margin-bottom: 15px;
    width: 100%;
    padding-left: 305px;
  }
  .back {
    font-size: 12px;
    color: #333333;
  }
  .category-descr {
    .h1 {
      margin-bottom: 27px;
    }
    .text {
      font-size: 14px;
      color: #707070;
      line-height: 22px;
      p {
        margin-bottom: 20px;
      }
    }
  }
  .page-title {
    margin-bottom: 29px;
  }
  .top-ctrl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    min-height: 50px;
    .label {
      margin-right: 10px;
    }
    .sort {
      display: flex;
    }
    .show-on-page {
      display: flex;
    }
    b {
      font-family: 'Proxima Nova Bold';
    }
    .dropdown-link {
      text-decoration: none;
      color: #707070;
    }
    .dropdown-item {
      text-decoration: none;
    }
  }
  .go-to-basket {
    font-size: 12px;
    color: #333333;
    display: inline-flex;
    margin-left: auto;
  }
  .navigation {
    .text-right {
      margin-top: 33px;
      margin-bottom: 18px;
    }
  }
  .h1 {
    font-size: 22px;
    color: #333333;
    font-family: 'Proxima Nova Bold';
  }
  .mobile-filter-selected {
    display: none;
    border-bottom: 1px solid #E8E8E8;
  }
  .title-filter-btn {
    & > .cont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
    }
    .mobile-page-title {
      font-size: 14px;
      color: #333333;
      font-family: 'Proxima Nova Bold';
    }
    .filter-btn {
      font-size: 25px;
      color: #707070;
    }
  }
  .filter-selected {
    & > .cont {
      padding-top: 15px;
      padding-bottom: 31px;
    }
    .label {
      font-size: 14px;
      color: #333333;
      font-family: 'Proxima Nova Bold';
      margin-bottom: 17px;
    }
    .one-sel-item {
      color: #707070;
      font-size: 14px;
      margin-bottom: 17px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .remove {
      font-size: 11px;
      text-decoration: none;
      color: #707070;
      position: relative;
      top: -1px;
    }
  }
  &.show-filters {
    .content-part {
      display: none;
    }
    .aside {
      display: block;
    }
    .title-filter-btn {
      .filter-btn {
        color: #F9A924;
      }
    }
  }
}