.checkout-page {
  .block-title {
    font-size: 18px;
    margin: 0 0 0 0;
    font-family: 'Proxima Nova Bold';
    color: #333333;
  }
  .checkout-block {
    border: 1px solid #F9F9F9;
    border-radius: 4px;
    padding: 20px;
  }
}