.comparison-page {
  .comp-view {
    display: flex;
    align-items: flex-start;
  }
  .table-headers-wrap {
    width: 440px;
    border-right: 1px solid #EEEEEE;
    overflow: hidden;
  }
  .table-content-wrap {
    width: calc( 100% - 440px );
    overflow: auto;
    .mCSB_scrollTools.mCSB_scrollTools_horizontal {
      bottom: auto;
      top: 0;
    }
    .mCSB_draggerContainer {
      background: #D8D8D8;
    }
    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
      height: 5px;
      margin: 3px 0;
      background: #9D9D9D;
      border-radius: 3px;
    }
    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
      height: 5px;
      margin: 3px 0;
      background: transparent;
    }
    .mCSB_scrollTools.mCSB_scrollTools_horizontal {
      height: 11px;
    }
  }
  .table-content-wrap-in {
    display: flex;
  }
  .page-title {
    margin-bottom: 16px;
  }
  .tags-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 14px;
    .btn-light-gray {
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 5px;
    }
  }
  .ctrls-wrap {
    height: 280px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    .nav-pills {
      margin-bottom: 22px;
      .nav-link {
        width: 184px;
        position: relative;
        &.active {
          &:after {
            content: "";
            height: 1px;
            background: #FD8E00;
            position: absolute;
            bottom: -24px;
            left: -35px;
            right: -35px;
          }
        }
      }
    }
  }
  .product-column {
    width: 255px;
    min-width: 255px;
    border-right: 1px solid #EEEEEE;
    .img-cont {
      width: 145px;
      height: 122px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 29px;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
    .prod-name {
      text-decoration: none;
      color: #333333;
      font-size: 14px;
      font-family: 'Proxima Nova Semibold';
      min-height: 20px;
      display: inline-block;
    }
    .cat-number {
      color: #707070;
      font-size: 14px;
      min-height: 25px;
    }
    .price-buy {
      display: flex;
      align-items: center;
    }
    .price {
      font-size: 18px;
      color: #333333;
      font-family: 'Proxima Nova Semibold';
      margin-right: 20px;
    }
    .btn-std {
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .prod-top {
    height: 280px;
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #E5E5E5;
  }
  .prod-table {
    display: none;
    font-size: 14px;
    &.active {
      display: table;
    }
  }
  .mobile-label {
    display: none;
  }
}