.home-page {
  .gray-bg {
    background: #EFEEEA;
    padding-bottom: 154px;
    & > .cont {
      padding-top: 33px;
    }
  }
  .i-block-wrap {
    display: flex;
    justify-content: space-between;
    h2 {
      padding: 0 0;
    }
    .i-block {
      background: #FFFFFF;
      box-shadow: 0px 5px 10px 0px rgba(150,98,66,0.15);
      padding: 32px 10px 32px 12px;
      border-radius: 3px;
      overflow: hidden;
    }
    .recomm {
      width: 336px;
      h2 {
        margin-bottom: 24px;
        padding-left: 19px;
        padding-right: 19px;
      }
      .img-cont {
        width: 103px;
        min-width: 103px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 17px;
        img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
        }
      }
      .prod-info {
        padding-top: 8px;
      }
      .rec-item {
        display: flex;
        margin-bottom: 23px;
      }
      .prod-name {
        text-decoration: none;
        color: #333333;
        margin-bottom: 8px;
        display: block;
      }
      .price {
        font-size: 18px;
        font-family: 'Proxima Nova Semibold';
      }
    }
    .rec-slider {
      padding-top: 55px;
    }
    .text-i-block {
      padding: 0;
      width: 468px;
    }
    .sell-out-block {
      width: 357px;
      padding: 32px 28px 32px 28px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 23%;
      background-image: url('../img/more.png');
      h2 {
        margin-bottom: 150px;
      }
      .text-wrap {
        font-size: 16px;
        margin-bottom: 37px;
      }
      .btn-std {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  .home-cont-slider {
    height: 100%;
    h2 {
      padding: 0 0;
      margin-bottom: 89px;
    }
    .slick-list {
      height: 100%;
    }
    .slick-track {
      height: 100%;
    }
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, #FFFFFF, transparent);
      }
    }
    .item {
      position: relative;
    }
    .item-in {
      position: relative;
      padding: 30px;
    }
    .prev-arrow {
      top: 76px;
      left: 30px;
    }
    .next-arrow {
      top: 76px;
      left: 71px;
    }
    .text-wrap {
      width: 200px;
      font-size: 16px;
      margin-bottom: 40px;
    }
  }
  .white-items {
    padding-top: 35px;
    padding-left: 42px;
    padding-right: 30px;
    padding-bottom: 35px;
    background: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 5px 20px 0px rgba(150,98,66,0.15);
    margin-top: -126px;
    margin-bottom: 70px;
    border-radius: 3px;
    .item {
      width: 250px;
      &:nth-child(1) {
        width: 225px;
        margin-right: 65px;
      }
      &:nth-child(2) {
        width: 250px;
        margin-right: 57px;
      }
      &:nth-child(4) {
        width: 260px;
        margin-left: auto;
      }
    }
    .demo-icon {
      color: #F9A924;
      font-size: 42px;
      margin-bottom: 19px;
      display: block;
      &:before {
        margin: 0;
      }
    }
    h2 {
      margin-bottom: 21px;
    }
    .icon-customer-service {
      font-size: 54px;
      margin-top: -9px;
      margin-bottom: 10px;
    }
  }
  .block-title {
    font-size: 22px;
    font-family: 'Proxima Nova Bold';
    margin-bottom: 16px;
  }
  .brand-search {
    margin-bottom: 42px;
  }
  .brands-wrap {
    display: flex;
    align-items: flex-start;
    .brands-left {
      border: 1px solid #EAEAEA;
      border-radius: 3px;
      padding: 34px 33px;
      width: 561px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .brands-right {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: calc( 100% - 561px );
      padding-left: 20px;
      .btn-outline-brand {
        margin-bottom: 20px;
        margin-left: 10px;
        padding: 5px 15px;
      }
      .btn-std {
        margin-right: 10px;
        margin-left: auto;
        margin-bottom: 20px;
      }
    }
    .one-brand {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .news-courses {
    display: flex;
    margin-bottom: 105px;
    .news {
      width: 335px;
      padding-right: 42px;
    }
    .nearest-courses {
      width: calc( 100% - 335px );
    }
    .title-wrap {
      margin-bottom: 33px;
    }
    .img-cont {
      margin-right: 20px;
      border-radius: 3px;
      overflow: hidden;
    }
    .count-date {
      display: flex;

    }

  }
}