.product-page {
  padding-top: 25px;
  .mobile-block {
    display: none;
  }
  .mobile-prod-name {
    display: none;
  }
  .mobile-availability {
    display: none;
  }
  .breadcrumb-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
  .back {
    font-size: 12px;
    color: #333333;
  }
  .prod-info {
    display: flex;
    margin-bottom: 70px;
  }
  .prod-img-cont {
    width: 50%;
    padding-right: 8px;
  }
  .prod-right-cont {
    width: 50%;
    padding-left: 13px;
    position: relative;
  }
  .prod-slider {
    .one-prod {
      height: 330px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }
  .prod-slider-nav {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    .nav-item {
      width: 82px;
      max-width: 82px;
      margin: 0 10px;
      height: 89px;
      border-radius: 4px;
      border: 1px solid #F0F0F0;
      padding-left: 9px;
      padding-right: 9px;
      padding-top: 11px;
      padding-bottom: 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:focus {
        outline: none;
      }
      &.slick-current {
        border: 1px solid #FEC67F;
      }
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }
  .prev-arrow {
    top: calc( 50% - 20px );
    left: 3px;
    right: auto;
  }
  .next-arrow {
    top: calc( 50% - 20px );
    right: 3px;
    left: auto;
  }
  .prod-name {
    margin-bottom: 20px;
    padding-right: 40px;
  }
  .add-to-wish {
    width: 38px;
    height: 38px;
    background: #FAFAFA;
    border-radius: 3px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .demo-icon {
      color: #707070;
      font-size: 20px;
    }
  }
  .availability{
    font-size: 12px;
    margin-bottom: 21px;
    .in-stock {
      color: #559F27;
    }
  }
  .cat-num {
    font-size: 14px;
    color: #707070;
    margin-bottom: 12px;
  }
  .prod-text {
    width: 460px;
    line-height: 22px;
    margin-bottom: 27px;
  }
  .vendor-code {
    margin-bottom: 27px;
  }
  .count-form-group {
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    margin-bottom: 35px;
    label {
      font-size: 12px;
      color: #707070;
      width: 100px;
      line-height: 18px;
    }
  }
  .add-to-confirm {
    font-size: 12px;
    color: #333333;
    display: inline-flex;
    align-items: center;
    margin-bottom: 18px;
    &.added {
      &:before {
        filter: grayscale(0%);
      }
    }
    &:before {
      content: "";
      width: 18px;
      height: 18px;
      margin-right: 8px;
      background-image: url('../img/icons/com.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      filter: grayscale(100%);
    }
  }
  .price-buy {
    display: flex;
    margin-bottom: 25px;
    .btn-std {
      font-size: 14px;
      padding-left: 38px;
      padding-right: 38px;
      margin-right: 20px;
    }
    .price-wrap {
      .label {
        color: #707070;
        font-size: 12px;
        margin-bottom: 4px;
      }
      .price {
        font-size: 22px;
      }
    }
  }
  .buy-one-click {
    font-size: 14px;
    padding-left: 38px;
    padding-right: 38px;
    margin-right: 20px;
  }
  .nav-pills {
    width: 100%;
    .nav-item {
      width: 25%;
    }
    .nav-link {
      padding: 10px 16px;
    }
  }
  .title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tab-title {
    font-size: 22px;
    color: #333333;
    margin-bottom: 17px;
  }
  .tab-cont-in {
    padding-top: 34px;
    padding-bottom: 90px;
  }
  .table {
    td {
      text-align: left;
      padding: 12px 25px;
      vertical-align: middle;
      &:first-child {
        width: 10%;
        text-align: right;
      }
      &:last-child {
        font-weight: 700;
      }
    }
    th {
      padding-left: 25px;
      padding-right: 25px;
      text-align: left;
    }
  }
  .description-text {
    font-size: 14px;
    line-height: 22px;
    color: #707070;
    padding-bottom: 75px;
    margin-top: 28px;
  }
  .accessories-wrap {
    display: flex;
    margin-left: -35px;
    margin-right: -35px;
    margin-top: 40px;
    .slick-list {
      min-width: 100%;
    }
    .slick-track {
      min-width: 100%;
    }
  }
  .one-accessory {
    width: 184px;
    min-width: 180px;
    margin: 0 35px;
    .img-cont {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 122px;
      margin-bottom: 15px;
      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
    .prod-name {
      text-decoration: none;
      font-size: 14px;
      color: #333333;
      font-family: 'Proxima Nova Semibold';
    }
    .cat-id {
      color: #707070;
      font-size: 14px;
      margin-bottom: 14px;
    }
    .price {
      font-size: 18px;
      font-family: 'Proxima Nova Semibold';
      color: #333333;
      margin-bottom: 11px;
    }
    .btn-std {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 14px;
      margin-bottom: 19px;
    }
  }
  .doc-wrap {
    display: flex;
    .tab-title {
      margin-bottom: 42px;
    }
    .doc-video-part {
      width: 540px;
    }
    .doc-video-list {
      width: calc( 100% - 540px );
      padding-left: 70px;
      padding-top: 10px;
    }
    .doc-info-part {
      margin-top: -5px;
    }
    .one-doc {
      display: flex;
      width: 355px;
      text-decoration: none;
      margin-left: -11px;
      line-height: 22px;
      margin-bottom: 47px;
      .demo-icon {
        margin-right: 11px;
      }
    }
    .icon-doc {
      font-size: 37px;
      color: #333333;
    }
    .icon-doc-check {
      font-size: 37px;
      color: #F9A924;
    }
    .doc-name {
      font-size: 14px;
      color: #257BA8;
      text-decoration: underline;
      margin-bottom: 2px;
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
    .size {
      font-size: 12px;
      color: #282828;
      display: block;
    }
  }
  .js-char-toggle {
    display: none;
  }
  .doc-row {
    display: flex;
    margin-top: 44px;
    margin-bottom: 40px;
    .col-md-4 {
      padding: 0;
    }
    .one-doc {
      display: flex;
      text-decoration: none;
      width: 360px;
      .demo-icon {
        margin-left: -10px;
        margin-right: 11px;
      }
    }
    .icon-doc {
      font-size: 37px;
      color: #333333;
    }
    .icon-doc-check {
      font-size: 37px;
      color: #F9A924;
    }
    .doc-info-part {
      margin-top: -4px;
    }
    .doc-name {
      font-size: 14px;
      color: #257BA8;
      text-decoration: underline;
      margin-bottom: 5px;
      display: block;
      line-height: 22px;
      &:hover {
        text-decoration: none;
      }
    }
    .size {
      font-size: 12px;
      color: #282828;
      display: block;
    }
  }
}
