.profile-page {
  & > .cont {
    padding-top: 26px;
    padding-bottom: 100px;
  }
  .profile-cols {
    display: flex;
    align-items: flex-start;
  }
  .profile-nav-wrap {
    width: 255px;
    padding-top: 20px;
    padding-right: 20px;
    & > .btn {
      display: none;
    }
    .dropdown-menu {
      display: block;
      border: none;
      margin: 0;
      padding: 0;
      width: 100%;
      position: static;
    }
    .dropdown-item {
      padding: 12px 14px;
      border-radius: 4px;
      color: #257BA8;
      &:hover {
        background: none;
      }
      &.active {
        background: #FFF6EB;
        border: 1px solid #FD8E00;
        color: #333333;
        text-decoration: none;
      }
    }
  }
  .profile-cont {
    width: calc( 100% - 255px );
    border: 1px solid #FBFBFB;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
  }
  .page-title {
    margin-bottom: 28px;
  }
  .form-group {
    margin-bottom: 11px;
    width: 335px;
  }
  .form-row {
    margin-left: 0;
    margin-right: 0;
    align-items: center;
  }
  .group {
    margin-bottom: 28px;
    .group-title {
      font-size: 18px;
      font-family: 'Proxima Nova Bold';
      margin-bottom: 20px;
    }
  }
  .checkbox-form-group {
    display: flex;
    align-content: center;
    font-size: 14px;
    color: #909090;
    padding-left: 20px;
    .jq-checkbox {
      margin-right: 5px;
    }
    .form-check-label {
      margin-top: 2px;
    }
  }
  .jq-selectbox {
    width: 100%;
  }
  .jq-selectbox__select-text {
    border-radius: 5px;
    color: #909090;
  }
  .confirm {
    font-size: 14px;
    width: 325px;
  }
  .page-title-wrap {
    display: flex;
    justify-content: space-between;
  }
  .show-on-time {
    position: relative;

    .form-control {
      width: 100px;
    }
    .input-daterange {
      margin-bottom: 10px;
      align-items: center;
    }
    .input-group-addon {
      margin: 0 5px;
    }
  }
  .show-on-page {
    display: flex;
    align-items: center;
    position: relative;
    .label {
      font-size: 14px;
      color: #282828;
      margin-right: 11px;
    }
    .dropdown-link {
      font-size: 14px;
      color: #707070;
    }
    a {
      text-decoration: none;
    }
    .show-time {
      width: 45px;
      height: 45px;
      position: relative;
      margin-left: 25px;
      &:after {
        content: "\e814";
        font-size: 25px;
        position: absolute;
        font-family: "fontello";
        top: 50%;
        left: 50%;
        width: 25px;
        height: 25px;
        color: #282828;
        transform: translate(-50%,-50%);
      }
    }
  }
  .one-order {
    border: 1px solid #FBFBFB;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: all 0.1s ease;
    &:hover {
      border: 1px solid #FDAC45;
      .order-link {
        background: #FFF6EB;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    .order-info {
      padding: 0 12px;
      border-top: 1px solid #FBFBFB;
      display: none;
    }
    .order-info-descr {
      display: flex;
      padding-top: 14px;
      padding-bottom: 14px;
      border-bottom: 1px solid #F9F9F9;
    }
    .payment-status {
      margin-left: auto;
    }
    .order-table {
      line-height: 22px;
      td {
        &:first-child {
          font-size: 14px;
          color: #909090;
          width: 170px;
        }
      }
    }
    .order-link {
      font-size: 14px;
      color: #333333;
      text-decoration: none;
      display: flex;
      padding: 10px 10px;
      transition: all 0.1s ease;
      .label {
        display: block;
        margin-bottom: 7px;
      }
      b {
        display: block;
        font-family: 'Proxima Nova Bold';
      }
    }
    .order-num {
      width: 170px;
    }
    .order-status {
      width: 320px;
    }
    .order-total {
      width: 145px;
    }
    .label {
      display: block;
      color: #909090;
    }
    .order-total {
      margin-left: auto;
    }
    .payment-status {
      margin-left: auto;
      width: 145px;
      & > div {
        line-height: 18px;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .bottom-order {
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #FAFAFA;
      .js-hide-detail {
        font-size: 14px;
        color: #333333;
      }
    }
  }
  .ordered-products {
    width: 100%;
    border-collapse: collapse;
    color: #707070;
    font-size: 14px;
    tr {
      border-bottom: 1px solid #FAFAFA;
      &:last-child {
        border-bottom: none;
      }
    }
    td {
      padding-top: 10px;
      padding-bottom: 10px;
      vertical-align: middle;
    }
    .img-cont {
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #F0F0F0;
      border-radius: 4px;
      margin-right: 13px;
      img {
        display: block;
        max-width: 90%;
        max-height: 90%;
        width: auto;
        height: auto;
      }
    }
    .prod-name {
      font-size: 14px;
      font-family: 'Proxima Nova Semibold';
      text-decoration: none;
      margin-bottom: 10px;
      color: #333333;
      display: block;
    }
    b {
      font-family: 'Proxima Nova Bold';
    }
  }
}