@media (max-width: 1240px) {
  .cont {
    width: 950px;
  }
  header {
    .header-middle {
      .search-wrap {
        width: 460px;
      }
    }
  }
  .subscripbe-stripe {
    .subscribe-title {
      font-size: 20px;
    }
    .subscribe-form {
      .subscribe-field {
        width: 370px;
      }
    }
  }
  .home-page {
    .i-block-wrap {
      .sell-out-block {
        display: none;
      }
      .text-i-block {
        flex-grow: 1;
        margin-left: 10px;
      }
    }
    .gray-bg {
      padding-bottom: 137px;
      & >.cont {
        padding-top: 16px;
      }
    }
    .white-items {
      .item {
        width: 240px;
        &:nth-child(2) {
          margin-right: 25px;
          width: 235px;
        }
        &:nth-child(1) {
          margin-right: 25px;
        }
        &:nth-child(3) {
          margin-right: 25px;
        }
        &:nth-child(4) {
          width: 240px;
        }
      }
    }
    .brands-wrap {
      .one-brand {
        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }
      .brands-left {
        width: 230px;
      }
      .brands-right {
        width: calc(100% - 230px);
        .btn-std {
          margin-left: 10px;
        }
      }
    }
    .courses-wrap {
      .one-course {
        &:nth-child(n + 3) {
          display: none;
        }
        &:nth-child(2) {
          margin-bottom: 0;
        }
      }
    }
  }
  footer {
    .bot-menu-wrap {
      .bot-menu {
        column-count: 1;
        width: auto;
        font-size: 12px;
      }
      .categories {
        font-size: 12px;
      }
    }
    & > .cont {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
  .brands-page {
    .one-brand {
      margin: 0 5px 20px;
    }
  }
  .product-page {
    .prod-slider-nav {
      .nav-item {
        width: 78px;
        max-width: 78px;
        height: 80px;
      }
    }
    .doc-row {
      .one-doc {
        width: 100%;
      }
    }
  }
  .one-product {
    .prod-name {
      margin-right: -70px;
    }
    .cat-num {
      margin-right: -70px;
    }
    .vendor-code {
      margin-right: -70px;
    }
  }
  .catalog-page {
    .aside {
      margin-top: -15px;
    }
    .breadcrumb-wrap {
      padding-left: 0;
    }
  }
  .profile-page {
    .one-order {
      font-size: 12px;
      .order-status {
        width: 125px;
      }
      .order-link {
        font-size: 12px;
      }
      .order-total {
        width: 105px;
      }
      .payment-status {
        width: 105px;
      }
      .order-num {
        width: 150px;
        min-width: 150px;
      }
      .order-table {
        td {
          &:first-child {
            font-size: 12px;
            width: 150px;
          }
        }
      }
    }
  }
  .text-page-slider {
    margin-left: calc(475px - 50vw);
    .prev-arrow {
      margin-left: -450px;
    }
    .next-arrow {
      margin-right: -450px;
    }
    .item-page {
      width: 950px;
      max-width: 950px;
    }
  }
  header {
    .header-top {
      .center-part {
        margin-right: 0;
      }
      .btns-wrap {
        .balance {
          margin-right: 10px;
          font-size: 13px;
        }
      } 
    } 
  }
  .b2b-page {
    .top-ctrl {
      .sort {
        .label {
          display: none;
        }
      }
      .view-on-page {
        display: none;
      }
      .show-on-page {
        .label {
          display: none;
        }
      }
    }
    .one-prod {
      .img-cont {
        margin-right: 20px;
      }
      .prod-name {
        font-size: 16px;
      }
      .prod-info-wrap {
        width: 255px;
        margin-bottom: 10px;
      }
      .prod-name-wrap {
        flex-wrap: wrap;
      }
    } 
  } 
}
