@media (min-width: 576px) {
  .foot-list {
    display: block !important;
  }
}
@media (max-width: 576px) {
  .cont {
    width: 100%;
  }
  .title-wrap {
    .read-all {
      font-size: 12px;
    }
  }
  .home-page {
    .i-block-wrap {
      h2 {
        padding: 0 10px;
      }
      .sell-out-block {
        background-position: 0 27%;
        padding: 32px 10px 32px 20px;
        h2 {
          margin-bottom: 154px;
        }
        .text-wrap {
          font-size: 14px;
          margin-bottom: 20px;
        }
        .btn-std {
          font-size: 14px;
        }
      }
      .i-block {
        max-width: 510px;
        //max-width: none;
      }
      .recomm {
        .rec-item {
          max-width: 315px;
        }
      }
    }
    .gray-bg {
      & > .cont {
        padding-top: 33px;
      }
    }
    .home-cont-slider {
      .item-in {
        padding: 30px 10px;
      }
      .text-wrap {
        font-size: 14px;
      }
      .check-group{
        font-size: 14px;
        li {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .white-items {
      margin-bottom: 50px;
      .item {
        width: 100% !important;
        margin-bottom: 29px;
        ul {
          width: calc( 100% - 66px );
          float: right;
        }
        li {
          padding-left: 14px;
        }
      }
      .demo-icon {
        float: left;
        width: 66px;
      }
      h2 {
        font-size: 16px;
        margin-bottom: 8px;
      }
      .text {
        width: calc( 100% - 66px );
        float: right;
      }
    }
    .gray-bg {
      padding-bottom: 99px;
    }
    .block-title {
      margin-bottom: 12px;
    }
    .brands-wrap {
      .brands-right {
        margin-right: -15px;
        min-width: 100%;
        width: auto;
      }
    }
    .brand-search {
      margin-bottom: 15px;
    }
    .news-courses {
      .news {
        padding-right: 0;
        margin-bottom: 67px;
      }
      .title-wrap {
        margin-bottom: 18px;
      }
    }
  }
  .courses-wrap {
    .one-course {
      flex-wrap: wrap;
      margin-bottom: 35px;
      .img-cont {
        margin-right: 0;
        width: 100%;
        height: 150px;
        margin-bottom: 14px;
        img {
          display: block;
          width: 100%;
        }
      }
      .course-content {
        width: 100%;
      }
      .course-title {
        margin-bottom: 10px;
      }
      .date {
        font-size: 12px;
      }
    }
  }
  .subscripbe-stripe {
    border-top: 1px solid #E8E8E8;
    .subscribe-title {
      font-size: 16px;
      margin-bottom: 8px;
    }
    & > .cont {
      padding-top: 23px;
      padding-bottom: 38px;
    }
    .after-title {
      font-size: 12px;
    }
    .subscribe-form {
      flex-wrap: wrap;
      padding-top: 15px;
      .subscribe-field {
        width: 100%;
        margin-right: 0;
        margin-bottom: 12px;
      }
      .btn-std {
        width: 100%;
        font-size: 12px;
        height: 40px;
      }
    }
  }
  header {
    .mobile-menu {
      .cont {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  footer {
    & > .cont {
      padding: 0 0 0 0;
    }
    .fot-cont {
      display: none;
    }
    .bot-menu-wrap {
      flex-wrap: wrap;
      width: 100%;
      & > .cont {
        padding-top: 33px;
      }
      .categories {
        column-count: 1;
      }
      ul {
        display: none;
        li {
          margin-right: 0;
          margin-bottom: 0;
        }
        a {
          height: 42px;
          display: flex;
          align-items: center;
          width: 100%;
          padding: 0 15px;
          &:active {
            text-decoration: none;
            background: #292929;
          }
        }
      }
    }
    .mail {
      margin-bottom: 16px;
    }
    .social {
      margin-bottom: 23px;
    }
    .bot-menu {
      width: 100%;
      margin: 0;
    }
    .categories-cont {
      width: 100%;
    }
    .bot-menu-cont {
      width: 100%;
    }
    .categories {
      width: 100%;
    }
    .mobile-link {
      position: relative;
      height: 50px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #CCCCCC;
      font-size: 14px;
      padding: 0 40px 0 15px;
      width: 100%;
      border-bottom: 1px solid #4B4B4B;
      border-top: 1px solid #4B4B4B;
      &:last-child {
        border-bottom: none;
      }
      &:after {
        content: "\e811";
        position: absolute;
        font-family: "fontello";
        right: 16px;
        font-size: 6px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .bot-stripe {
      .txt {
        margin-bottom: 11px;
        span {
          margin-bottom: 3px;
        }
      }
    }
  }
  .breadcrumb {
    border-bottom: 1px solid #F5F5F5;
    border-radius: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .brands-page {
    & > .cont {
      padding-top: 0;
    }
    .one-brand {
      height: 173px;
      width: 100%;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .brands-wrap {
      margin-left: 0;
      margin-right: 0;
    }
    h1 {
      font-size: 18px;
      margin-bottom: 18px;
    }
    .breadcrumb {
      margin-bottom: 20px;
    }
    .after-title {
      font-size: 14px;
      margin-bottom: 18px;
    }
  }
  .product-page {
    .breadcrumb {
      margin-left: 0;
      margin-right: 0;
    }
    .mobile-prod-name {
      display: block;
      text-align: center;
      margin-bottom: 17px;
    }
    .mobile-availability {
      display: block;
      text-align: center;
      font-size: 12px;
      color: #707070;
      margin-bottom: 35px;
      .in-stock {
        color: #559F27;
      }
    }
    .prod-slider-nav {
      display: none;
    }
    .prod-slider {
      .one-prod {
        height: 165px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .price-buy {
      display: none;
    }
    .count-form-group {
      display: none;
    }
    .add-to-confirm {
      display: none;
    }
    .mobile-block {
      display: block;
      margin-bottom: 40px;
      .add-to-confirm {
        display: flex;
        text-align: center;
        justify-content: center;
      }
    }
    .price-count {
      display: flex;
      justify-content: space-between;
      margin-bottom: 23px;
    }
    .price-wrap {
      .label {
        font-size: 12px;
        color: #707070;
        margin-bottom: 4px;
      }
      .price {
        font-size: 22px;
        color: #333333;
      }
    }
    .btn-std {
      max-width: 290px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 25px;
    }
    .prod-img-cont {
      margin-bottom: 0;
    }
    .prod-right-cont {
      padding-top: 0;
    }
    .prod-slider {
      margin-bottom: 20px;
    }
    .vendor-code {
      margin-bottom: 22px;
    }
    .nav-pills {
      display: none;
    }
    .tab-cont-in {
      padding-top: 0;
    }
    .tab-content>.tab-pane {
      display: block;
      opacity: 1;
    }
    .prod-info {
      margin-bottom: 0;
    }
    .js-char-toggle {
      height: 50px;
      background: #D6D6D6;
      font-size: 14px;
      display: flex;
      align-items: center;
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
      text-decoration: none;
      color: #333333;
      position: relative;
      &.open {
        &:after {
          top: 35%;
          transform: rotate(180deg);
        }
      }
      &:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 44%;
        transform: rotate(0deg);
        border: 5px solid transparent;
        border-top: 6px solid #909090;
      }
    }
    #characteristic-tab {
      .tab-title {
        display: none;
      }
      .tab-cont-in {
        padding-top: 40px;
      }
    }
    .tab-cont-in {
      padding-bottom: 0;
    }
    .tab-title {
      font-size: 18px;
    }
    .description-text {
      margin-top: 0;
    }
    .table {
      td, th {
        padding-left: 20px;
        padding-right: 20px;
        &:first-child {
          text-align: left;
        }
      }
    }
    .one-accessory {
      margin: 0;
      text-align: center;
      .prod-name {
        display: block;
        padding-right: 0;
      }
      .img-cont {
        justify-content: center;
        margin-bottom: 23px;
      }
      .cat-id {
        margin-bottom: 19px;
      }
    }
    .accessories-wrap {
      margin-left: 0;
      margin-right: 0;
      .prev-arrow {
        top: 20%;
      }
      .next-arrow {
        top: 20%;
      }
    }
  }
  .catalog-page {
    .filter-wrap {
      .btn {
        display: block;
        width: 100%;
        max-width: 290px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .aside {
      width: 100%;
    }
    .reset-filters {
      display: block;
      text-align: center;
    }
    .top-ctrl {
      .show-on-page {
        display: none;
      }
    }
    .go-to-basket {
      border: 1px solid #E8E8E8;
      height: 50px;
      width: 100%;
      max-width: 290px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .navigation {
      .text-right {
        margin-top: 25px;
      }
    }
    & > .cont {
      padding-bottom: 0;
    }
  }
  .pagination {
    .page-link {
      min-width: 0;
    }
    .page-item {
      flex-grow: 1;
    }
    .next-page {
      margin-left: -1px;
    }
  }
  .one-product {
    .product-descr {
      flex-wrap: wrap;
      padding-bottom: 78px;
      position: relative;
    }
    .left-part {
      width: 100%;
    }
    .right-part {
      width: calc( 100% + 95px );
      flex-direction: row;
      margin-left: -95px;
      margin-top: 17px;
      .btn {
        position: absolute;
        width: calc( 100% + 95px );
        bottom: 25px;
        left: -95px;
        margin-left: 0;
      }
    }
    .img-cont {
      height: 140px;
      img {
        max-width: 95%;
        max-height: 100%;
      }
    }
    .prod-name {
      font-size: 14px;
      font-family: 'Proxima Nova Semibold';
      margin-right: 0;
      min-height: 28px;
    }
    .availability {
      margin-bottom: 13px;
    }
    .cat-num {
      font-size: 12px;
      margin-right: 0;
    }
    .vendor-code {
      margin-right: 0;
      font-size: 12px;
      min-height: 32px;
    }
  }
  .brands-catalog-page {
    & > .cont {
      padding-top: 18px;
    }
    .brand-logo {
      float: none;
      height: 134px;
      width: 100%;
      max-width: 290px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .search-page, .wishlist-page {
    & > .cont {
      padding-top: 0px;
    }
    .page-title {
      font-size: 18px;
      margin-bottom: 22px;
    }
    .breadcrumb {
      margin-bottom: 30px;
    }
    .price-wrap {
      text-align: left;
    }
    .one-product {
      .img-cont {
        width: 95px;
        height: 140px;
        img {
          max-width: 95%;
          max-height: 100%;
        }
      }
    }
  }
  .wishlist-page {
    .top-ctrl {
      .show-on-page {
        display: none;
      }
    }
  }
  .checkout-page {
    & > .cont {
      padding-top: 0;
    }
    .page-title {
      font-size: 18px;
      margin-bottom: 0;
    }
    .checkout-block {
      margin-left: -15px;
      margin-right: -15px;
      border-right: none;
      border-left: none;
      border-top: none;
      padding: 25px 15px;
    }
    .breadcrumb {
      margin-bottom: 32px;
    }
    .block-title {
      font-size: 14px;
    }
    .group-wrap {
      width: 100%;
      .form-group {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .nav-pills {
      width: 100%;
      .nav-link {
        width: 50%;
      }
    }
    .address-group {
      .form-row {
        .form-group {
          width: calc( 50% - 10px );
          &:last-child {
            margin-left: 0;
          }
        }
      }
    }
    .payments-tab {
      .nav-link {
        max-width: none;
      }
    }
    .payment-content {
      display: none;
    }
    .basket-block {
      .block-title-wrap {
        padding: 0;
      }
    }
  }
  .basket-table {
    width: calc( 100% + 30px );
    margin-left: -15px;
    margin-right: -15px;
    border-top: 1px solid #F5F5F5;
    tr {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      height: 175px;
      padding: 30px 0 30px 110px;
      &:first-child {
        display: none;
      }
      &:last-child {
        padding-left: 0;
      }
    }
    th {
      display: none
    }
    td {
      &:first-child {
        padding: 0;
      }
    }
    .prod-name {
      font-size: 14px;
    }
    .price {
      width: 50%;
    }
    .count{
      width: 50%;
    }
    .prod-img {
      position: absolute;
      width: 110px;
      left: 0;
      top: 0;
      bottom: 0;
      height: auto;
      img {
        max-width: 75%;
        max-height: 75%;
      }
    }
    .bot-table {
      flex-wrap: wrap;
      .lable {
        margin-bottom: 8px;
      }
      .total-order {
        margin-right: 0;
        width: 100%;
        text-align: left;
        padding: 0 15px;
        margin-bottom: 23px;
      }
      .btn-std {
        width: 100%;
        max-width: 290px;
        margin: 0 auto;
        justify-content: center;

      }
    }
  }
  .basket-page {
    .page-title {
      font-size: 18px;
      margin-bottom: 17px;
    }
    .remove {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  .comparison-page {
    & > .cont {
      padding-top: 0;
    }
    .page-title {
      font-size: 18px;
    }
    .ctrls-wrap {
      .nav-pills {
        max-width: 290px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
        .nav-item {
          width: 50%;
        }
      }
    }
    .comp-view {
      margin-left: -15px;
      margin-right: -15px;
    }
    .product-column {
      border-right: none;
      &:first-child {
        border-left: none;
      }
      .img-cont {
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
      }
      .cat-number {
        font-size: 12px;
      }
      .prod-name {
        min-height: 30px;
      }
      .price {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
    .prod-top {
      text-align: center;
      padding: 25px 20px;
    }
    .price-buy {
      flex-direction: column;
    }
    .price {
      margin-right: 0;
    }
    .btn-std {
      width: 100%;
      max-width: 290px;
    }
    .breadcrumb {
      margin-bottom: 33px;
    }
    .page-title {
      margin-bottom: 32px;
    }
  }
  .profile-page {
    .profile-nav-wrap {
      margin-left: -15px;
      margin-right: -15px;
      width: calc( 100% + 30px );
    }
    .form-group {
      width: 100%;
    }
    .checkbox-form-group {
      padding-left: 0;
    }
    .one-order {
      .order-link {
        flex-direction: column;
        padding: 15px 13px;
        b {
          display: inline;
        }
        & > span {
          margin-bottom: 13px;
          width: 100%;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .label {
          display: inline;
        }
      }
      .order-total {
        margin-left: 0;
      }
      .payment-status {
        display: none;
      }
      .ordered-products {
        tr {
          display: flex;
          flex-wrap: wrap;
          position: relative;
          padding: 24px 0 24px 85px ;
        }
        td {
          width: 50%;
          &:first-child {
            position: absolute;
            left: 0;
          }
          &:nth-child(2) {
            width: 100%;
          }
          &:last-child {
            width: 100%;
            font-size: 18px;
          }
          .prod-name {
            font-size: 14px;
          }
        }
      }
      .order-info-descr {

      }
    }
  }
  .text-page {
    .page-title {
      font-size: 18px;
    }
    .h1 {
      font-size: 18px;
    }
  }
  .text-container {
    font-size: 14px;
    line-height: 22px;
    .conclusion {
      padding: 20px 25px;
    }
    .left-float {
      font-size: 14px;
      line-height: 22px;
      float: none;
      width: 100%;
      margin-bottom: 22px;
      p {
        margin-bottom: 0;
      }
    }
    p {
      margin-bottom: 18px;
    }
  }
  .text-page-slider {
    width: 100%;
    margin-left: 0;
    .slick-arrow {
      //display: none !important;
    }
    .item-page {
      width: 100vw;
      max-width: none;
      opacity: 1;
      filter: grayscale(0%);
      transition: all .0s ease-out;
    }
    .next-arrow {
      margin-right: 0;
      right: 5px;
      margin-top: -15px;
    }
    .prev-arrow {
      margin-left: 0;
      left: 5px;
      margin-top: -15px;
    }
  }
  .b2b-page {
    & > .cont {
      padding-top: 0;
    }
    .top-part {
      display: none;
    }
    .one-prod {
      flex-wrap: wrap;
      .prod-name {
        font-size: 14px;
        margin-bottom: 14px;
      }
      .vendor-code {
        font-size: 12px;
      }
      .img-cont {
        width: 80px;
        min-width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .left-part {
        width: 100%;
      }
      .right-part {
        width: 100%;
        margin-top: -39px;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        .btn {
          margin: 7px auto 0 auto;
          width: 100%;
        }
      }
      .ctrl-wrap {
        margin-left: auto;
        margin-right: 0;
      }
      .prod-name-wrap {
        min-width: calc( 100% - 110px );
        padding-top: 27px;
      }
      .prod-info-wrap {
        margin-bottom: 30px;
      }
      .price-wrap {
        text-align: left;
      }
    }
    .title-filter-btn {
      background: #FAFAFA;
    }
    .top-ctrl {
      border-top: none;
    }
    .currency {
      display: none;
    }
    .roll-up {
      display: none;
    }
    .title {
      font-size: 18px;
    }
    .content-part {
      padding-top: 25px;
    }
    .prod-cont {
      margin-left: -15px;
      margin-right: -15px;
      width: auto;
      margin-bottom: 25px;
      table {
        tr {
          display: flex;
          flex-wrap: wrap;
          position: relative;
          padding-bottom: 10px;
          &:first-child {
            padding-bottom: 0;
            th {
              display: none;
            }
            th:nth-child(1) {
              width: 100%;
              display: flex;
              align-items: center;
            }
          }
        }
        td {
          padding: 0 5px;
          min-height: 0;
          &:first-child {
            width: 100%;
            margin-bottom: 10px;
          }
          &:nth-child(5) {
            margin-right: auto;
            margin-left: 15px;
          }
        }
        .remove {
          position: absolute;
          right: 14px;
          top: 13px;
        }
        .tablet-stripe {
          display: flex;
          justify-content: space-between;
          & > div {
            margin-right: 0;

          }
        }
        .mobile-label {

        }
      }
    }
    .project-wrap {
      .table-total {
        text-align: left;
        font-size: 14px;
        padding: 0 15px;
      }
      .project-bottom {
        flex-wrap: wrap;
        padding: 0 15px;
        .btn-wrap {
          flex-wrap: wrap;
          display: flex;
          flex-direction: column-reverse;
          width: 100%;
        }
        .btn {
          width: 100%;
          max-width: 320px;
          margin-bottom: 10px;
          &:first-child {
            margin-bottom: 0;
          }
        }
      }
      .add-pos {
        display: inline-block;
        margin-bottom: 20px;
      }
    }
    .add-position {
      margin-left: -15px;
      margin-right: -15px;
      .title {
        font-size: 14px;
      }
      .search {
        padding: 16px 15px;
      }
    }
  }
}