@media (max-width: 992px) {
  .cont {
    width: 758px;
  }
  header {
    .header-top {
      font-size: 12px;
      .center-part {
        margin-right: 0;
        justify-content: flex-start;
        .address {
          margin-left: 31px;
        }
      }
      .lang-select {
        margin-right: 19px;
      }
    }
    .header-middle {
      .logo {
        width: 144px;
      }
      .logo-cont {
        margin-right: 36px;
        .descr {
          display: none;
        }
      }
      .search-wrap {
        width: 295px;
        input[type=text] {
          font-size: 12px;
        }
      }
      .mini-wrap {
        margin-right: 6px;
        margin-top: 9px;
      }
      .cont {
        padding-top: 21px;
        padding-bottom: 31px;
      }
    }
    .header-bottom {
      .nav-item {
        font-size: 12px;
        padding: 7px 3px 4px;
        .icon-discount {
          display: none;
        }
      }
      .catalog-link-wrap {
        .nav-item {
          padding: 7px 10px 4px;
        }
        .demo-icon {
          margin-right: 5px;
        }
      }
    }
  }
  .check-group {
    li {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .courses-wrap {
    .one-course {
      margin-bottom: 62px;
    }
  }
  footer {
    .feedback {
      display: none;
    }
    & > .cont {
      padding-top: 53px;
    }
    .categories {
      width: 360px;
      column-gap: 12px;
    }
    .bot-menu {
      margin-right: 47px;
      margin-left: 25px;
    }
    .bot-menu-wrap {
      & > ul {
        li {
          margin-bottom: 12px;
        }
      }
    }
    .bot-stripe {
      .small-text {
        display: none;
      }
      .copyright {
        width: 350px;
      }
    }
    .social-wrap {
      display: flex;
    }
    .social {
      margin-left: 52px;
    }
    .bot-stripe {
      & >.cont {
        padding-top: 18px;
      }
      .txt {
        margin-bottom: 0;
        margin-top: 4px;
      }
    }
  }
  .home-page {
    .i-block-wrap {
      .recomm {
        width: 280px;
        .img-cont {
          width: 70px;
          min-width: 70px;
          height: 70px;
          margin-right: 7px;
        }
        .prod-info {
          font-size: 12px;
        }
        .price {
          font-size: 16px;
        }
      }
    }
    .home-cont-slider {
      .item-in {
        padding-bottom: 35px;
      }
    }
    .white-items {
      padding: 20px 30px 35px 48px;
      margin-bottom: 44px;
      .item {
        &:nth-child(1) {
          margin-right: 43px;
        }
        &:nth-child(4) {
          display: none;
        }
        &:nth-child(3) {
          margin-right: 0;
        }
        ul {
          font-size: 12px;
        }
        .text {
          font-size: 12px;
        }
      }
      h2 {
        font-size: 14px;
        margin-bottom: 12px;
      }
      .demo-icon {
        margin-bottom: 4px;
      }
      .icon-customer-service {
        font-size: 51px;
        margin-top: -5px;
        margin-bottom: -4px;
      }
    }
    .brands-wrap {
      .brands-right {
        padding-left: 11px;
        .btn {
          &:nth-last-child(2) {
            display: none;
          }
          &:nth-last-child(3) {
            display: none;
          }
          &:nth-last-child(4) {
            display: none;
          }
        }
        .btn-std {
          margin-left: auto;
        }
      }
    }
    .block-title {
      margin-bottom: 16px;
    }
    .news-courses {
      margin-bottom: 59px;
    }
  }
  .subscripbe-stripe {
    & > .cont {
      padding-top: 25px;
      padding-bottom: 29px;
    }
    .subscribe-form {
      padding-top: 32px;
      .subscribe-field {
        width: 260px;
        margin-right: 12px;
      }
      .btn-std {
        font-size: 0;
        span {
          font-size: 12px;
        }
      }
    }
  }
  .brands-page {
    & > .cont {
      padding-top: 14px;
      padding-bottom: 70px;
    }
    .breadcrumb {
      margin-bottom: 8px;
    }
    .after-title {
      margin-bottom: 30px;
    }
    .brands-wrap {
      margin-left: -5px;
      margin-right: -5px;
    }
    .one-brand {
      width: 181px;
      height: 177px;
      img {
        width: 114px;
      }
    }
  }
  .product-page {
    padding-top: 18px;
    .back {
      display: none;
    }
    .prod-right-cont {
      padding-left: 5px;
      padding-top: 10px;
    }
    .prod-slider {
      margin-bottom: 27px;
      .one-prod {
        img {
          max-height: 230px;
          max-width: 230px;
        }
      }
    }
    .prod-slider-nav {
      width: 290px;
      .nav-item {
        width: 47px;
        max-width: 47px;
        height: 51px;
        margin: 0 6px;
      }
    }
    .prod-name {
      margin-bottom: 9px;
    }
    .availability {
      margin-bottom: 12px;
    }
    .prod-text {
      width: 100%;
      font-size: 12px;
    }
    .vendor-code{
      margin-bottom: 13px;
    }
    .count-form-group {
      margin-bottom: 22px;
    }
    .prod-info {
      margin-bottom: 57px;
    }
    .doc-row {
      flex-wrap: wrap;
      margin-bottom: 0;
      .one-doc {
        margin-bottom: 45px;
      }
    }
    .doc-wrap {
      .doc-video-part {
        width: 420px;
      }
      .doc-video-list {
        width: calc(100% - 420px);
        padding-left: 14px;
      }
    }
    .tab-cont-in {
      padding-bottom: 50px;
    }
  }
  .one-product {
    .img-cont {
      width: 95px;
      img {
        max-width: 75%;
        max-height: 100%;
      }
    }
    .product-descr {
      width: calc(100% - 95px);
      padding-left: 0;
    }
    .price-wrap {
      .label {
        margin-bottom: 8px;
      }
    }
  }
  .catalog-page {
    &>.cont {
      padding-top: 6px;
    }
    .aside {
      width: 240px;
    }
    .content-part {
      width: calc(100% - 240px);
      padding-left: 5px;
      padding-top: 45px;
    }
    .filter-cat-list {
      & > li .ico {
        display: none;
      }
    }
    .category-list {
      & > li {
        margin-left: -10px;
        & > a {
          padding-left: 10px;
        }
      }
    }
    .cat-list-cont {
      padding-top: 17px;
      padding-bottom: 6px;
      a {
        padding-left: 29px;
      }
    }
    .top-ctrl {
      .label {
        display: none;
      }
    }
    .navigation {
      .text-right {
        margin-top: 15px;
        margin-bottom: 35px;
      }
    }
    .back {
      display: none;
    }
  }
  .search-page, .wishlist-page {
    & > .cont {
      padding-top: 14px;
    }
    .breadcrumb {
      margin-bottom: 9px;
    }
    .page-title {
      margin-bottom: 25px;
    }
    .one-product {
      .img-cont {
        height: 198px;
        width: 100px;
        img {
          max-width: 70px;
          max-height: 75px;
        }
      }
      .stickers-wrap {
        top: 15px;
      }
      .left-part {
        padding-top: 0;
      }
    }
  }
  .wishlist-page {
    .top-ctrl {
      .label {
        display: none;
      }
    }
  }
  .basket-table {
    .prod-img {
      width: 95px;
      height: 125px;
    }
    .price {
      font-size: 14px;
    }
    .total-price {
      font-size: 18px;
    }
    .total-order {
      .total-price {
        font-size: 22px;
      }
    }
    .bot-table {
      .btn-std {
        padding-left: 35px;
        padding-right: 35px;
      }
    }
  }
  .checkout-page {
    & > .cont {
      padding-top: 15px;
    }
    .address-group {
      width: 100%;
    }
  }
  .comparison-page {
    & > .cont {
      padding-top: 16px;
    }
    .breadcrumb {
      margin-bottom: 10px;
    }
    .table-headers-wrap {
      width: 240px;
    }
    .table-content-wrap {
      width: calc( 100% - 240px );
    }
    .tags-wrap {
      margin-bottom: 24px;
    }
    .ctrls-wrap {
      border-bottom: 1px solid #FE9D0B;
      .nav-pills {
        .nav-link {
          width: auto;
          font-size: 12px;
          padding: 10px 16px;
          &:after {
            display: none;
          }
        }
      }
    }
    .product-column {
      width: 259px;
      min-width: 259px;
    }
  }
  .table-striped {
    td {
      padding: 25px 12px 6px 12px;
    }
  }
}