header {
  a {
    text-decoration: none;
  }
  .mobile-menu-btn {
    display: none;
  }
  .header-top {
    border-bottom: 1px solid #E6E6E6;
    .cont {
      height: 40px;
      display: flex;
    }
    .center-part {
      flex-grow: 1;
    }
    .lang-select {
      display: flex;
      align-items: center;
      padding-left: 5px;
      .label {
        margin-right: 7px;
      }
      .dropdown-link {
        position: relative;
        padding-right: 15px;
        display: inline-block;
        text-decoration: underline;
        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 8px;
          border: 5px solid transparent;
          border-top: 6px solid #909090;
        }
      }
    }
    .center-part {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      margin-right: 115px;
      .tel {
        color: #333333;
        margin-right: 20px;
      }
      .address {
        margin-left: 20px;
      }
    }
    .btns-wrap {
      display: flex;
      align-items: center;
      .btn {
        font-size: 14px;
        padding: 3px 15px;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
      .btn-profile {
        padding: 3px 5px;
      }
    }
  }
  .header-middle {
    border-bottom: 1px solid #F5F5F5;
    .cont {
      display: flex;
      padding-top: 23px;
      padding-bottom: 21px;
    }
    .logo-cont {
      display: flex;
      margin-right: 27px;
      .descr {
        color: #707070;
        width: 85px;
        display: block;
        line-height: 18px;
        padding-top: 5px;
      }
    }
    .logo {
      width: 184px;
      display: block;
      margin-right: 10px;
      img {
        display: block;
        width: 100%;
      }
    }
    .mini-wrap {
      display: flex;
      height: 30px;
      margin-left: auto;
      margin-top: 5px;
    }
    .search-wrap {
      width: 658px;
      position: relative;
      input[type="text"] {
        display: block;
        width: 100%;
        height: 40px;
        border: none;
        background: #FAFAFA;
        border-radius: 20px;
        padding-left: 18px;
        padding-right: 30px;
        outline: none;
        font-family: 'Proxima Nova Regular';
        font-size: 14px;
      }
      .search-btn {
        position: absolute;
        background: transparent;
        border: none;
        color: #938580;
        right: 5px;
        top: 9px;
        font-size: 16px;
      }
    }
    .mini-wishlist {
      border-right: 1px solid #F5F5F5;
      padding-right: 5px;
      position: relative;
      &:hover {
        .tooltip {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .mini-comparisons {
      padding: 0 11px;
      border-right: 1px solid #F5F5F5;
      position: relative;
      &:hover {
        .tooltip {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .mini-basket {
      padding-left: 7px;
      position: relative;
      &:hover {
        .tooltip {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .tooltip {
      position: absolute;
      padding: 6px 11px 7px 11px;
      font-size: 12px;
      width: 130px;
      border-radius: 30px;
      top: calc( 100% + 14px );
      left: 50%;
      transform: translate(-50%, 0);
      background: #FFFFFF;
      box-shadow: 0px 3px 20px 0px rgba(150,98,66,0.15);
      visibility: hidden;
      transition: opacity 0.2s ease;
      &:before {
        content: '';
        position: absolute;
        border: 8px solid transparent;
        border-bottom: 8px solid #FFF;
        top: -16px;
        left: 50%;
        margin-left: -11px;
      }
      &:after {
        content: '';
        position: absolute;
        height: 16px;
        width: 100%;
        display: block;
        left: 0;
        top: -16px;
        z-index: 1;
        background: transparent;
      }
    }
    .mini-link {
      color: #333333;
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      &.has-items {
        .demo-icon {
          color: #F9A924;
        }
      }
      & > img {
        display: block;
        width: 30px;
      }
      .count {
        position: absolute;
        right: -7px;
        top: -9px;
        height: 18px;
        width: 18px;
        border: 2px solid #FFFFFF;
        background: #FE9B08;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9px;
        color: #FFFFFF;
        font-size: 10px;
      }
    }
    .basket-link {
      font-size: 32px;
    }
    .wishlist-link {
      font-size: 31px;
    }
  }
  .header-bottom {
    .navbar {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-nav {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
    .nav-item {
      font-family: 'Proxima Nova Semibold';
      font-size: 14px;
      color: #333333;
      padding: 7px 10px 4px 10px;
      &.orange {
        color: #FD9E0D;
      }
      .icon-discount {
        font-size: 17px;
      }
    }
    .catalog-link-wrap {
      .nav-item {
        padding: 7px 20px 4px 20px;
        margin-right: -10px;
        background: #FAFAFA;
        border-radius: 3px;
        border: 1px solid #FFFFFF;
        &.open {
          border: 1px solid #FAA51D;
          background: #FFFFFF;
        }
      }
      //padding: 0 20px;
      .demo-icon {
        font-size: 12px;
        margin-right: 9px;
        color: #F9A924;
      }
    }
    & > .cont {
      position: relative;
    }
    .catalog-list {
      position: absolute;
      box-shadow: 0px 5px 5px 0px rgba(150,98,66,0.09);
      top: calc( 100% + 1px );
      left: 0;
      background: #FFFFFF;
      z-index: 20;
      width: 335px;
      display: none;
      li {
        padding-left: 0;
        position: static;
        &.open {
          .category-list {
            display: block;
          }
        }
        &:before {
          display: none;
        }
      }
      .category-link {
        height: 51px;
        color: #333333;
        font-size: 16px;
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 45px;
        position: relative;
        &:before {
          display: none;
        }
        .ico {
          width: 22px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 12px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .category-list {
        display: none;
        li {
          padding-left: 0;
          background: #FAFAF8;
          transition: all 0.1s ease-out;
          &:hover {
            background: #F5F3F0;
            & > a {
              text-decoration: none;
              color: #EF8600;
            }
            .cat-list-cont {
              display: block;
            }
          }
          & > a {
            height: 34px;
            display: flex;
            align-items: center;
            transition: all 0.1s ease-out;
            padding-left: 45px;
          }
        }
      }
      .cat-list-cont {
        position: absolute;
        top: 0;
        left: 100%;
        background: #F5F3F0;
        height: 100%;
        min-width: 285px;
        display: none;
        h4 {
          font-size: 16px;
          color: #333333;
          font-family: 'Proxima Nova Bold';
          margin-bottom: 0;
          padding-left: 35px;
          height: 51px;
          display: flex;
          align-items: center;
        }
        li {
          background: transparent;
          &:hover {
            a {
              color: #333333;
            }
          }
        }
        a {
          color: #333333;
          text-decoration: underline;
          padding: 0 35px 0 35px !important;
        }
      }
    }
  }
  .header-middle {
    position: relative;
    z-index: 10;
  }
  .mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #FAFAF8;
    height: calc( 100vh - 60px );
    overflow-y: auto;
    display: none;
    .cont {
      display: block;
      height: 100% !important;
    }
    .menu-first-level {
      padding-bottom: 40px;
    }
    .second-level-contain {
      padding-bottom: 40px;
    }
    .third-level-contain {
      padding-bottom: 40px;
    }
    .mobile-menu-contain {
      min-height: calc( 100vh - 102px );
    }
    .mobile-search-form {
      display: block;
      position: relative;
      input[type="text"] {
        display: block;
        width: 100%;
        height: 42px;
        background: #FAFAF8;
        border: none;
        padding-left: 16px;
        padding-right: 30px;

      }
      .search-btn {
        position: absolute;
        background: transparent;
        right: 9px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        font-size: 16px;
        color: #938580;
      }
    }
    .nav-item {
      padding: 0 15px;
      height: 40px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #F2F2F1;
      font-size: 16px;
      color: #333333;
      transition: all 0.1s ease-out;
      &:active {
        background: #F7F7F4;
      }
    }
    .user-link {
      background: #F7F7F4;
      padding-right: 40px;
      position: relative;
      .count {
        font-size: 12px;
        height: 16px;
        line-height: 18px;
        color: #FFFFFF;
        background: #FD8E00;
        padding: 0 4px 0 7px;
        border-radius: 8px;
        margin-left: 8px;
      }
      .demo-icon {
        position: absolute;
        font-size: 21px;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
      }
      .ico {
        position: absolute;
        width: 30px;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 5px;
        padding-right: 5px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .catalog-link-wrap {
      .nav-item {
        color: #FFFFFF;
        background: #FCA012;
        position: relative;
        font-size: 14px;
        &:after {
          content: "\e807";
          color: #FFFFFF;
          position: absolute;
          font-family: "fontello";
          right: 16px;
          font-size: 9px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .mobile-menu-list {
      margin-bottom: 78px;
    }
    .contacts {
      padding: 0 15px;
      margin-bottom: 7px;
      .feedback {
        font-size: 14px;
        color: #333333;
        display: inline-block;
        margin-bottom: 10px;
      }
    }
    .tels {
      margin-bottom: 6px;
    }
    .tel {
      font-size: 14px;
      color: #333333;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
    .lang-select {
      display: flex;
      padding: 0 15px;
      margin-bottom: 26px;
      .label {
        margin-right: 6px;
      }
      .dropdown-link {
        position: relative;
        padding-right: 15px;
        display: inline-block;
        text-decoration: underline;
        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 8px;
          border: 5px solid transparent;
          border-top: 6px solid #909090;
        }
      }
    }
    .btns-cont {
      display: flex;
      padding: 0 15px;
      .btn {
        font-size: 14px;
        flex-grow: 1;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .menu-first-level {
      .second-level-contain {
        display: none;
      }
    }
    .menu-second-level {
      .third-level-contain {
        display: none;
      }
    }
    .second-level {
      display: none;
    }
    .category-link {
      height: 50px;
      font-size: 14px;
      color: #333333;
      display: flex;
      align-items: center;
      padding-left: 17px;
      border-bottom: 1px solid #F5F5F5;
      background: #FFFFFF;
      img {
        margin-right: 15px;
        width: 22px;
        height: auto;
      }
    }
    .second-level-list {
      li {
        padding-left: 0;
        &.open {
          .category-list {
            display: none;
          }
        }
        &:before {
          display: none;
        }
      }
    }
    .third-level-contain {
      li {
        padding: 0;
        &:before {
          display: none;
        }
        a {
          color: #333333;
          &:active {
            text-decoration: underline;
            color: #333333;
            background: #F5F3F0;
          }
        }
      }
    }
    .category-list {
      display: none;
      a {
        height: 41px;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: underline;
        padding: 0 15px;
        &:active {
          background: #F5F3F0;
          color: #EF8600;
          text-decoration: none;
        }
      }

    }
    .back-btn {
      height: 41px;
      background: #F9A720;
      color: #FFFFFF;
      font-size: 14px;
      font-family: 'Proxima Nova Semibold';
      display: flex;
      align-items: center;
      padding: 0 25px;
      position: relative;
      &:before {
        content: "\e809";
        color: #FFFFFF;
        position: absolute;
        font-family: "fontello";
        left: 16px;
        font-size: 9px;
        top: 48%;
        transform: translateY(-50%);
      }
    }
  }
}