@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('ProximaNova/Proxima Nova Bold.otf');
}
@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('ProximaNova/Proxima Nova Semibold.otf');
}
@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('ProximaNova/Proxima Nova Regular.otf');
}
